<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Plagdetect - Your friendly plagiarism assistant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bulma.css}" />
</head>

<body>
    <header class="nav is-primary has-shadow">
        <div class="nav-center">
            <a class="nav-item">
                <img th:src="@{/images/logo.png}" alt="Plagdetect logo"></img>
            </a>
            <a class="nav-item">
                <h1 class="title">Plagdetect </h1>
            </a>
        </div>
    </header>
    <section class="hero is-dark is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Submit Text to be checked for plagiarism here
                </h1>
                <h2 class="subtitle">
                    File uploads are also possible
                </h2>
            </div>
            <br></br>
            <br></br>
            <div class="container">
                <div class="box is-8 is-offset-2">
                    <div class="content">
                        <form action="#" th:action="@{/submit}" th:object="${plagtext}" method="post">
                            <label class="label is-light">Submit text below</label>
                            <p class="control">
                                <textarea class="textarea is-expanded" style="height: 300px" type="text" th:field="*{content}"></textarea>
                            </p>
                            <p>
                                <input class="button is-primary" type="submit" value="Submit" />
                                <input class="button " type="reset" value="Reset" />
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Built using <a href="https://github.com/jgthms/bulma">Bulma</a>, <a href="https://projects.spring.io/spring-boot/">Spring Boot</a>                and hosted on <a href="https://heroku.com/">Heroku</a>
            </p>
            <p>
                Source code available at <a href="https://github.com/prajnak/plagdetect">prajnak/plagdetect</a>
            </p>
        </div>
    </div>
</footer>

</html>